<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INhanVienService" />
                <binding name="BasicHttpBinding_INguyenLieuServices" />
                <binding name="BasicHttpBinding_IReportServices" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51914/NhanVienService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INhanVienService"
                contract="NhanVienService.INhanVienService" name="BasicHttpBinding_INhanVienService" />
            <endpoint address="http://localhost:51914/NguyenLieuServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INguyenLieuServices"
                contract="NguyenLieuService.INguyenLieuServices" name="BasicHttpBinding_INguyenLieuServices" />
            <endpoint address="http://localhost:51914/ReportServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportServices"
                contract="ReportService.IReportServices" name="BasicHttpBinding_IReportServices" />
        </client>
    </system.serviceModel>
</configuration>
